<template>
	<div class="view">
		<div class="container input-field">
			<div class="row text-center">
				<h1 class="my-5 text-center">Dostęp do ponad 2000 decyzji reprywatyzacyjnych wydanych w Warszawie w latach 1950-2017</h1>
				<div class="input-group my-5">
					<input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Wpisz adres warszawskiej nieruchomości">
					<div class="dropdown">
						<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
					<button type="button" class="btn btn-warning btn-lg px-5">Sprawdź</button>
				</div>
				<h2 class="mt-4 text-center">
					Lorem ipsum dolor sit amet augue. Praesent gravida pulvinar. Nulla facilisi. Etiam vel nulla. Curabitur scelerisque
					tellus augue, ullamcorper ut, condimentum urna, placerat tempor ac, suscipit in, vulputate tortor id felis.
				</h2>
			</div>
		</div>
		<section>
			<div class="container">
				<div class="stats">
					<div class="card-deck">
						<div class="card">
							<div class="card-body p-5">
								<h1 class="card-title display-4 text-center">20 tys.</h1>
								<p class="card-text">Aż tyle osób straciło dach nad głową w wyniku reprywatyzacji.</p>
								<p>To 1% mieszkańców Warszawy.</p>
							</div>
						</div>
						<div class="card">
							<div class="card-body p-5">
								<h1 class="card-title display-4 text-center">450</h1>
								<p class="card-text">Tyle nieruchomości zostało przekazanych w latach 1950-2017.</p>
								<p>To 3% budynkow w Warszawie</p>
							</div>
						</div>
						<div class="card">
							<div class="card-body p-5">
								<h1 class="card-title display-4 text-center">15 mln</h1>
								<p class="card-text">To łączna wartość zreprywatyzowanych nieruchomości w stolicy.</p>
								<p>To 5% budżetu rocznego Warszawy.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="container info my-5">
			<div class="row">
				<div class="col-sm mb-4">
					<h5 class="font-weight-bold">Reprywatyzacja w Twojej dzielnicy</h5>
					<p>Lorem ipsum dolor sit amet augue. Praesent gravida pulvinar. Nulla facilisi. Etiam vel nulla.</p>
					<a href="">Przeglądaj ></a>
				</div>
				<div class="col-sm mb-4">
					<h5 class="font-weight-bold">Raporty i opracowania</h5>
					<p>Lorem ipsum dolor sit amet augue. Praesent gravida pulvinar. Nulla facilisi. Etiam vel nulla.</p>
					<a href="">Przeglądaj ></a>
				</div>
				<div class="col-sm mb-4">
					<h5 class="font-weight-bold">Baza wiedzy o reprywatyzacji</h5>
					<p>Lorem ipsum dolor sit amet augue. Praesent gravida pulvinar. Nulla facilisi. Etiam vel nulla.</p>
					<a href="">Przeglądaj ></a>
				</div>
				<div class="col-sm mb-4">
					<h5 class="font-weight-bold">Kontakt/ źródła opracowań</h5>
					<p>Lorem ipsum dolor sit amet augue. Praesent gravida pulvinar. Nulla facilisi. Etiam vel nulla.</p>
					<a href="">Przeglądaj ></a>
				</div>
			</div>
		</section>
	</div>
</template>