<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Społeczny Audyt Reprywatyzacji - Miasto Jest Nasze</title>
    <meta name="description" content="Społeczny audyt reprywatyzacji w Warszawie z lat 1960-2018." />
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Społeczny audyt reprywatyzacji w Warszawie z lat 1960-2018.">

    <!-- Open Graph data -->
    <meta property="og:title" content="Społeczny Audyt Reprywatyzacji - Miasto Jest Nasze" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://spolecznyaudytapp.azurewebsites.net" />
    <meta property="og:image" content="https://spolecznyaudytapp.azurewebsites.net" />
    <meta property="og:description" content="Społeczny audyt reprywatyzacji w Warszawie z lat 1960-2018." />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.0.0-rc.11/dist/bootstrap-vue.common.min.js" />
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@2.6.0/assets/css/leaflet.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<body>
    @RenderBody()
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
