body {
  font-family: 'Open Sans', sans-serif;
}

.navbar a {
  margin: 0 2.3rem;
}

footer .col-sm-5 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  display: flex;
}