@import 'medium-editor/medium-editor.css';

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    line-height: 2rem;
}

.bold-header {
    font-weight: 700;
    line-height: 4.5rem;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

h2.bold-header {
    font-weight: 700;
    line-height: 4rem;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}

h3.bold-header {
    font-weight: 700;
    line-height: 3.5rem;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

h4.bold-header {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

button,
.btn {
    border-radius: 0;
}

    button:focus,
    button:active,
    .btn:focus,
    .btn:active {
        outline: none;
        box-shadow: none;
    }


.btn-warning {
    background-color: #FCE603;
    border: #FCE603;
}

.hide {
    display: none;
}

/****** HOME ******/

.broad-view {
    height: 104vh;
    width: 100%;
    color: #fff;
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/alexey-topolyanskiy-270795.jpg");
    margin-top: -5rem;
}

    .broad-view .btn.btn-outline-secondary {
        border-radius: 0 5px 5px 0;
    }

.navbar {
    position: relative;
    color: #333;
}

    .navbar a {
        transition: 0.3s;
        color: #333;
    }

        .navbar a > .line {
            display: block;
            width: 0;
            border-bottom: 2px solid #000;
            transition: 0.3s;
            padding-top: 1px;
        }

            .navbar a > .line.white-line {
                border-bottom: 2px solid #fff;
            }

        .navbar a:hover > .line {
            width: 100%;
        }

.nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

    .nav-link.active .line {
        width: inherit;
    }

.navbar-brand {
    font-size: 1rem;
}

.navbar-black-bg{
    background-color: #333;
    color: #fff;
}

.input-field h2 {
    color: #fff;
}

.input-field h6 {
    color: #fff;
    font-size: 1rem;
}

.input-card .input-group {
    border: 1px solid #999;
    border-width: 0 0 1px 0;
}

    .input-card .input-group .form-control {
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

.input-card .input-group-append .btn {
    color: #999;
    border: none;
    background-color: transparent;
}

.card-shadow {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.stats .card {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

    .stats .card:hover {
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.4);
    }

.stats .card-body {
    padding: 3rem 2rem;
}

.stats .card-title {
    color: #FCE603;
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 2rem;
    line-height: 4rem;
}

.stats {
    margin-top: -2rem;
}

footer .col-sm-5 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 50px;
    height: 50px;
}

/****** SEARCH PAGE *******/

.jumbotron {
    border-radius: 0%;
    background-color: #fff;
    margin-bottom: 0;
    padding: 0 1rem;
}

    .jumbotron .card-body {
        padding: 0;
    }

.input-group .form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: #979797;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #FCE603;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #FCE603;
        cursor: pointer;
    }

.card.card-body {
    position: relative;
}

.success-img {
    position: relative;
}

.fa-times.fa-2x {
    color: #222;
    background-color: #fff;
    box-shadow: 0 5px 15px 0;
    position: absolute;
    padding: 6px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

    .fa-times.fa-2x:hover {
        cursor: pointer;
    }

.fa-lg,
.fa-2x {
    color: #9B9B9B;
}

.fa-search:hover {
    cursor: pointer;
}

.address {
    background-color: #FCE603;
}

.jumbotron .card {
    border: #fff;
}

.card .address h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.jumbotron .card p {
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
}

.row .col-md-10 p {
    margin: 0;
    line-height: 1.1rem;
}

.row .col-md-9 p {
    margin: 5px;
    line-height: 1.1rem;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

#decisions-list-container {
    overflow: hidden;
    height: 87vh;
}

#decisions-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}

.jumbotron .card p {
    font-size: 1rem;
}

/****** SUBPAGES STYLES ******/

.subpage-view {
    margin: 2rem 0;
}

.section-header {
    margin: 4rem 0 2rem 0;
}

.text-header {
    margin: 1rem 0;
}

.intro > p {
    margin: 1.5rem 0;
    font-size: 15px;
}

.quote {
    display: flex;
}

    .quote img {
        height: 30px;
    }

    .quote > p {
        padding-left: 1.5rem;
        margin: 0;
    }

.quote-text-big {
    font-size: 1.5rem;
}

.tabs ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

    .tabs ul li {
        color: #000;
        align-items: center;
        cursor: pointer;
        text-align: right;
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 0;
        transition: all .3s;
    }

        .tabs ul li.is-active {
            background-color: #FCE603;
            font-weight: 700;
        }

        .tabs ul li a {
            color: #000;
            font-size: 1.2rem;
            text-align: right;
            display: block;
            text-decoration: none;
            padding: 15px;
        }

        .tabs ul li:hover {
            background-color: #fdf277;
        }

.tab-detail {
    background-color: #fff;
}

.sidebar {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

    .sidebar .sidebar-inner {
        padding: 0 1rem 1rem 1rem;
    }

        .sidebar .sidebar-inner p {
            margin-top: 1rem;
            text-align: center;
            width: 100%;
        }

        .sidebar .sidebar-inner button {
            margin: 0 auto;
            width: 100%;
        }

.bottom-el {
    margin: 4rem 0 0 0;
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

    .bottom-el img.sad {
        width: 60px;
    }

    .bottom-el img.file {
        width: 60px;
    }

    .bottom-el h4 {
        margin-bottom: 0.5rem;
        padding-left: 30px;
        display: inline-block;
        width: 100%;
    }

    .bottom-el p {
        margin-bottom: 0;
        padding-left: 30px;
        display: inline-block;
        width: 100%;
    }

    .bottom-el > .btn {
        min-width: 220px;
    }

/****** MEDIA QUERIES ******/
@media (max-width: 321px) {

    .bold-header {
        line-height: 2.5rem;
        font-size: 1.5rem;
    }

    .view {
        margin-top: -16rem;
    }

    .input-field {
        margin-top: -0.5rem;
    }

    h4,
    h4.bold-header {
        line-height: 1.6rem;
        font-size: 1rem;
    }

    .stats {
        margin-top: 1rem;
    }
}

@media (max-width: 366px) {

    .bold-header {
        line-height: 2.5rem;
        font-size: 1.5rem;
    }

    .view {
        margin-top: -16rem;
    }
}

@media (min-width: 465px) {
    .btn-warning {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 465px) and (max-width: 991px) {
    .view {
        margin-top: -14rem;
    }

    .input-field {
        margin-top: 3rem;
    }
}

@media (max-width: 464px) {

    .bold-header {
        line-height: 3rem;
        font-size: 1.6rem;
    }

    h2.bold-header {
        line-height: 4rem;
        font-size: 2.5rem;
    }

    h3.bold-header {
        line-height: 3.5rem;
        font-size: 2rem;
    }

    h4,
    h4.bold-header {
        line-height: 2rem;
        font-size: 1.2rem;
    }

    h5,
    h5.bold-header {
        font-size: 1rem;
    }

    button.navbar-toggler {
        padding: 0;
    }

    .view {
        margin-top: -14rem;
    }

    .input-field {
        margin-top: 1rem;
    }

    .navbar-toggler-icon {
        display: none;
    }

    .input-group .form-control {
        width: 100%;
        padding: 12px 0;
        text-align: center;
    }

    .input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0;
    }

    .input-group .btn {
        width: 100%;
    }

    .stats {
        margin-top: -1rem;
    }

    .decision-steps > button {
        width: 100%;
    }
}

@media (max-width: 767px) {

    p.copy {
        text-align: center;
    }

    .map-responsive {
        margin-bottom: 1rem;
    }

    .subpage-view .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .quote > p {
        padding-left: 1rem;
    }

    .bottom-el {
        flex-direction: column;
        padding: 2rem;
    }

        .bottom-el img {
            height: auto;
            width: 50px;
        }

        .bottom-el h4 {
            text-align: center;
            padding: 20px 0 10px 0;
            width: 100%;
        }

        .bottom-el p {
            padding: 0 0 20px 0;
            text-align: center;
            width: 100%;
        }

        .bottom-el button {
            width: 65%;
        }

    .bold-header {
        font-size: 2.6rem;
        line-height: 2.9rem;
    }

    .input-card {
        padding-right: 0;
    }

    .stats {
        margin-top: -2rem;
    }
}

@media (min-width: 768px) {
    .input-card {
        padding-right: 0;
    }

    .subpage-view .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 991px) {
    .navbar-collapse.show .nav-link,
    .navbar-collapse.show .nav-link.router-link-active {
        font-weight: bold;
        text-align: right;
    }

    h2, .section-header {
        text-align: center;
    }

    .side-image {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .fact {
        margin-bottom: 1.5rem;
        padding: 0;
    }

    .tabs {
        padding: 0;
    }

        .tabs ul {
            margin-bottom: 0;
            display: flex;
        }

            .tabs ul li {
                width: 40%;
                border-bottom: none;
                display: flex;
            }

                .tabs ul li:nth-of-type(2) {
                    border-left: none;
                    border-right: none;
                }

                .tabs ul li:nth-of-type(3) {
                    border-right: none;
                }

                .tabs ul li a {
                    margin: 0 auto;
                    text-align: center;
                    font-size: 14px;
                }
}

@media (min-width: 992px) {

    .navbar-transparent{
        background-color: transparent;
    }

    .navbar-brand {
        position: absolute;
        left: 40%;
        display: block;
    }

    .input-field {
        margin-top: 7rem;
    }

    .tabs {
        padding-right: 0.1rem;
        padding-left: 0;
    }

        .tabs ul li:last-of-type {
            margin-bottom: 0;
        }
}

@media (min-width: 576px) and (max-width: 1199px) {
    .stats .card-body {
        padding: 2rem;
    }

    .bottom-el {
        padding: 2rem;
    }
}

@media (max-width: 1199px) {
    .view {
        height: 100%;
        padding-bottom: 5%;
    }
}

@media (min-width: 1150px) and (max-width: 1300px) {
    .navbar a {
        margin: 0 1.1rem;
    }
}

@media (min-width: 1200px) {

    .sidebar .sidebar-inner {
        padding: 0 3rem 1rem 3rem;
    }
}

@media (min-width: 1301px) {
    .navbar a {
        margin: 0 2rem;
    }
}

.highlight {
    background-color: #FCE603;
    padding: 3px;
    display: inline-block;
}
