body {
    font-family: 'Lato', sans-serif;
}

.view {
    height: 104vh;
    width: 100%;
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("~/Images/alexey-topolyanskiy-270795.jpg");
    margin-top: -5rem;
}

.navbar {
    background-color: transparent !important;
}

.navbar a {
    margin: 0 2.3rem;
}

.navbar-dark a{
    color: #fff;
}

.input-field h1 {
    color: #fff;
    font-weight: 700;
    line-height: 4.5rem;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.input-field h2 {
    color: #fff;
}

.btn-warning {
    background-color: #FCE603;
    border: #FCE603;
}

.stats .card {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.stats .card-body {
    padding: 3rem;
}

.stats .card-title {
    color: #FCE603;
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
}

.stats {
    margin-top: -3rem;
}

footer .col-sm-5 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 50px;
    height: 50px;
}

/* Search Page */

.jumbotron {
    border-radius: 0%;
    background-color: #fff;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

.jumbotron .card p {
    font-size: 1rem;
}

/* .card div ul {
  cursor: pointer;
}

.card div ul:hover {
  font-size: 106%
}

.color-blue {
  color: #007BFF;
} */

.hide {
    display: none;
}

/* Media Queries */

@media (max-width: 464px) {
    .navbar a {
        margin: -6px 0 0 0;
        padding: 0;
    }

    button.navbar-toggler {
        padding: 0;
    }

    .view {
        margin-top: -8rem;
    }

    .input-field {
        margin-top: 4rem;
    }
}

@media (min-width: 465px) {
    .btn-warning {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 465px) and (max-width: 991px) {
    .view {
        margin-top: -14rem;
    }

    .input-field {
        margin-top: 10rem;
    }
}

@media (min-width: 576px) and (max-width: 1200px) {
    .stats .card-body {
        padding: 0.5rem;
    }
}

@media (max-width: 1200px) {
    .view {
        height: 100%;
        padding-bottom: 5%;
    }
}

@media (min-width: 1201px) {
    .input-field {
        margin-top: 5rem;
    }
}
