body {
    font-family: 'Lato', sans-serif;
}

.navbar {
  position: relative;
  background-color: transparent !important;
}

.view {
    height: 104vh;
    width: 100%;
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("~/Images/alexey-topolyanskiy-270795.jpg");
    margin-top: -5rem;
}

.navbar {
    background-color: transparent !important;
}

.navbar a {
    margin: 0 2.3rem;
}

.navbar-dark a{
    color: #fff;
}

.input-field h1 {
    color: #fff;
    font-weight: 700;
    line-height: 4.5rem;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.input-field h2 {
    color: #fff;
}

.input-field h6 {
  color: #fff;
  font-size: 1rem;
}

.btn-warning {
    background-color: #FCE603;
    border: #FCE603;
}

.stats .card {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.stats .card-body {
    padding: 3rem;
}

.stats .card-title {
    color: #FCE603;
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
}

.stats {
    margin-top: -3rem;
}

footer .col-sm-5 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 50px;
    height: 50px;
}

/* Search Page */

.jumbotron {
  border-radius: 0%;
  background-color: #fff;
  margin-bottom: 0;
  padding: 0 1rem;
}

.jumbotron .card-body {
  padding: 0;
}

.input-group .form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background: #979797;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FCE603;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FCE603;
  cursor: pointer;
}

.card.card-body {
  position: relative;
}

.success-img {
  position: relative;
}

.fa-times.fa-2x {
  color: #222;
  background-color: #fff;
  box-shadow: 0 5px 15px 0;
  position: absolute;
  padding: 6px;
  border-radius: 50%;
  width: 2rem;
}

.fa-times.fa-2x:hover {
  cursor: pointer;
}

.fa-lg,
.fa-2x {
  color: #9B9B9B;
}

.fa-search:hover {
  cursor: pointer;
}

.address {
  background-color: #FCE603;
}

.jumbotron .card {
  border: #fff;
}

.card .address h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.jumbotron .card p {
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}

.row .col-md-10 p {
  margin: 0;
  line-height: 1.1rem;
}

.row .col-md-9 p {
  margin: 5px;
  line-height: 1.1rem;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

.jumbotron .card p {
  font-size: 1rem;
}

.hide {
  display: none;
}

/* Media Queries */

@media (max-width: 464px) {
  button.navbar-toggler {
    padding: 0;
  }
  .view {
    margin-top: -14rem;
  }
  .input-field {
    margin-top: 10rem;
  }
}

@media (max-width: 366px) {
  .view {
    margin-top: -16rem;
  }
}

@media (min-width: 465px) {
  .btn-warning {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 465px) and (max-width: 991px) {
  .view {
    margin-top: -14rem;
  }
  .input-field {
    margin-top: 10rem;
  }
}

@media (max-width: 767px) {
  .map-responsive {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .input-card {
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    left: 40%;
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 1199px) {
  .stats .card-body {
    padding: 0.5rem;
  }
}

@media (max-width: 1199px) {
  .view {
    height: 100%;
    padding-bottom: 5%;
  }
}

@media (min-width: 1150px) and (max-width: 1300px) {
  .navbar a {
    margin: 0 1.1rem;
  }
}

@media (min-width: 1200px) {
  .input-field {
    margin-top: 5rem;
  }
}

@media (min-width: 1301px) {
  .navbar a {
    margin: 0 2rem;
  }
}
