body {
    font-family: 'Lato', sans-serif;
}

.navbar {
  position: relative;
  background-color: transparent !important;
}

.navbar a {
  color: #000;
  transition: 0.3s;
}

.navbar a:hover {
  color: blue;
}

.view {
    height: 104vh;
    width: 100%;
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("~/Images/alexey-topolyanskiy-270795.jpg");
    margin-top: -5rem;
}

.navbar {
    background-color: transparent !important;
}

.navbar-dark a {
    color: #fff;
}

.input-field h1 {
    color: #fff;
    font-weight: 700;
    line-height: 4.5rem;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.input-field h2 {
    color: #fff;
}

.input-field h6 {
  color: #fff;
  font-size: 1rem;
}

.input-card .input-group {
    border: 1px solid #999;
    border-width: 0 0 1px 0;
}

.input-card .input-group .form-control {
    border: none;
}

.input-card .input-group-append .btn {
    color: #999;
    border: none;
    background-color: transparent;
}


.btn {
  border-radius: 0;
}

.btn-warning {
    background-color: #FCE603;
    border: #FCE603;
}

.stats .card {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.stats .card-body {
    padding: 3rem;
}

.stats .card-title {
    color: #FCE603;
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
}

.stats {
    margin-top: -3rem;
}

footer .col-sm-5 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 50px;
    height: 50px;
}

/* Search Page */

.jumbotron {
  border-radius: 0%;
  background-color: #fff;
  margin-bottom: 0;
  padding: 0 1rem;
}

.jumbotron .card-body {
  padding: 0;
}

.input-group .form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background: #979797;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FCE603;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FCE603;
  cursor: pointer;
}

.card.card-body {
  position: relative;
}

.success-img {
  position: relative;
}

.fa-times.fa-2x {
  color: #222;
  background-color: #fff;
  box-shadow: 0 5px 15px 0;
  position: absolute;
  padding: 6px;
  border-radius: 50%;
  width: 2rem;
}

.fa-times.fa-2x:hover {
  cursor: pointer;
}

.fa-lg,
.fa-2x {
  color: #9B9B9B;
}

.fa-search:hover {
  cursor: pointer;
}

.address {
  background-color: #FCE603;
}

.jumbotron .card {
  border: #fff;
}

.card .address h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.jumbotron .card p {
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}

.row .col-md-10 p {
  margin: 0;
  line-height: 1.1rem;
}

.row .col-md-9 p {
  margin: 5px;
  line-height: 1.1rem;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#decisions-list{
    overflow-y: scroll;
    height: 500px;
}

.jumbotron .card p {
  font-size: 1rem;
}

.hide {
  display: none;
}

/*** utilities ***/

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

/*** SUBPAGES ***/

.subpage-view {
  margin: 2rem 0;
}

.section-header {
  margin: 4rem 0 2rem 0;
}

.definition {
  border: 2px solid #000;
  padding: 2em;
}

.definition > p {
  margin: 1.5rem 0;
  font-size: 15px;
  text-align: justify;
}

.quote {
  display: flex;
  justify-content: flex-between;
}

.quote img {
  height: 30px;
}

.quote > p {
  padding-left: 1.5rem;
  margin: 0;
  text-align: justify;
}

.side-image {
  background:  url(/Images/alexey-topolyanskiy-270795.jpg) no-repeat center;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: 5px top;
}

.fact {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.fact img {
  height: 50px;
  margin-right: 20px;
}

.fact p {
  text-align: justify;
}

.tabs ul {
  list-style-type: none;
  padding: 0;
}

.tabs ul li {
  border: 2px solid #000;
  background-color: lightgrey;
  color: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tabs ul li.is-active {
  background-color: #fff;
}

.tabs ul li a {
  color: #000;
}

.tab-detail {
  border: 2px solid #000;
  padding: 2rem;
}

.bottom-el {
  margin: 4rem 0 0 0;
  border: 2px solid #000;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-el img {
    width: 80px;
    height: 100%;
}

.bottom-el h4 {
  margin-bottom: 1rem;
  padding-left: 30px;
  display: inline-block;
}

.bottom-el p {
  margin-bottom: 0;
  padding-left: 30px;
  display: inline-block;
}

/* Media Queries */

@media (max-width: 366px) {
  .view {
    margin-top: -16rem;
  }
}

@media (max-width: 464px) {
  button.navbar-toggler {
    padding: 0;
  }
  .view {
    margin-top: -14rem;
  }
  .input-field {
    margin-top: 10rem;
  }

  .navbar-toggler-icon {
    display: none;
  } 
}

@media (min-width: 465px) {
  .btn-warning {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 465px) and (max-width: 991px) {
  .view {
    margin-top: -14rem;
  }
  .input-field {
    margin-top: 10rem;
  }

}

@media (max-width: 767px) {

  .subpage-view {
    padding: 0 5px;
  }
  .map-responsive {
    margin-bottom: 1rem;
  }

  .quote img {
    height: 20px;
  }

  .quote > p {
    padding-left: 1rem;
  }

  .bottom-el {
    flex-direction: column;
    padding: 2rem;
  }

  .bottom-el img {
    height: auto;
    width: 50px;
  }

  .bottom-el h4 {
    text-align: center;
    padding: 20px 0 10px 0;
  }

  .bottom-el p {
    padding: 0 0 20px 0;
    text-align: center;
    width: 100%;
  }

  .bottom-el button {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .input-card {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .side-image {
    display: none;
  }

  .fact {
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .tabs {
    padding: 0;
  }

  .tabs ul {
    margin-bottom: 0;
    display: flex;
  }
  
  .tabs ul li {
    width: 25%;
    border-bottom: none;
  }

  .tabs ul li:nth-of-type(2) {
    border-left: none;
    border-right: none;
  }

  .tabs ul li:nth-of-type(3) {
    border-right: none;
  }

  .tabs ul li a {
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    left: 40%;
    display: block;
  }

  .quote img {
    height: 60px;
  }

  .tabs {
    padding-right: 5px;
  }
  
  .tabs ul li {
    margin-bottom: 0.5rem;
    padding: 15px;
  }
  
  .tabs ul li:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) and (max-width: 1199px) {
  .stats .card-body {
    padding: 0.5rem;
  }

  .bottom-el {
    padding: 2rem;
  }
}

@media (max-width: 1199px) {
  .view {
    height: 100%;
    padding-bottom: 5%;
  }
}

@media (min-width: 1150px) and (max-width: 1300px) {
  .navbar a {
    margin: 0 1.1rem;
  }
}

@media (min-width: 1200px) {
  .input-field {
    margin-top: 5rem;
  }
}

@media (min-width: 1301px) {
  .navbar a {
    margin: 0 2rem;
  }
}
